[user]
	email = dmitryhd@gmail.com
	name = Dmitriy Khodakov
[credential]
	helper = store
[push]
	default = simple
[color]
    diff = true
    status = true
    branch = true
    interactive = true
    ui = true
    pager = true
[core]
	pager = cat
