[user]
	email = dmitryhd@gmail.com
	name = Dmitriy Khodakov
[credential]
	helper = store
[push]
	default = simple
[diff]
	tool = gvimdiff
[format]
	pretty = short
[color]
	ui = true
    diff = true
    status = true
    branch = true
    interactive = true
    ui = true
[core]
	pager = cat
